= form_tag password_resets_path, :method => :post, html:{role:"form", class:"form-horizontal"} do
  .field.form-group
    = label_tag :email, nil, class: "control-label"
    .input-group
      %span.input-group-addon
        @
      = text_field_tag :email, params[:email], placeholder:"E-mail", class:"form-control"
  .actions
    = submit_tag "Reset my password!", :class => "btn btn-success form-control"
