.row
  .col-lg-12
    %h1 Around Me

    - Category.all.each do |category|
      = check_box_tag category.name.downcase, category.id, checked:true
      = category.name
    %h3
      We found this around you
.row
  .col-lg-12
    .items
      = render partial:"items", locals:{items: @items}

.row
  .col-lg-12
    .spinner{style:"display:none"}
      = image_tag "ajax-loader.gif"
