/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* For GMaps */
.map_container {
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #ccc #999 #ccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
  width: 800px;
}

.gmaps4rails_map {
  width: 100%;
  height: 400px;
}

.bing_map {
   position: absolute;
   top: 20;
   left: 10;
   width: 400px;
   height: 400px;
   border:#555555 2px solid;
}

.gmap, .gmap > *, .gmap > * > * { 
  width: 100%;
}
/* End For GMaps */

#map_banner{
  width: 100%;
  height: 200px;
  border-radius-bottom: 10px;
  max-width: none;
  text-align: center;
  max-width: 940px;
  margin: 0 auto;
  display: none;
}

#spread_post_dropdown{
  padding: 10px;
  padding-top: 5px;
  width: 105%;
  top: -45px;
  left: -1px;
}
@media screen and (max-width: 768px) { 
  #spread_post_dropdown{
    padding: 10px;
    padding-top: 5px;
    top: -70px;
    width: 102%;
    left: -10px
  }
}

#query_nav, #location_query_nav{
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}


/* Footer */
.footer{
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  padding: 30px 0;
}
