.gmap
  = gmaps("map_options" => {"libraries" => ["places"], "zoom" => 10, "auto_zoom" => places.length > 1, id: "map_#{places.first.id}"}, "markers" => {"data" => places.to_gmaps4rails}) if !places.first.nil?
